In [1]:
from preprocess import merge_parquets, sample_dat
import numpy as np
import pandas as pd 
import os

In [2]:
dir = '../data'
dat = merge_parquets(dir)

In [5]:
sampled_dat = sample_dat(dat, 0.3)

In [24]:
sampled_dat.isna().sum()

VendorID                        0
tpep_pickup_datetime            0
tpep_dropoff_datetime           0
passenger_count            393573
trip_distance                   0
RatecodeID                 393573
store_and_fwd_flag         393573
PULocationID                    0
DOLocationID                    0
payment_type                    0
fare_amount                     0
extra                           0
mta_tax                         0
tip_amount                      0
tolls_amount                    0
improvement_surcharge           0
total_amount                    0
congestion_surcharge       393573
Airport_fee               1290485
airport_fee              10596155
dtype: int64

In [37]:
sampled_dat[sampled_dat['store_and_fwd_flag'].notnull()].isna().sum()

VendorID                       0
tpep_pickup_datetime           0
tpep_dropoff_datetime          0
passenger_count                0
trip_distance                  0
RatecodeID                     0
store_and_fwd_flag             0
PULocationID                   0
DOLocationID                   0
payment_type                   0
fare_amount                    0
extra                          0
mta_tax                        0
tip_amount                     0
tolls_amount                   0
improvement_surcharge          0
total_amount                   0
congestion_surcharge           0
Airport_fee               774821
airport_fee              8815349
dtype: int64

In [28]:
sampled_dat.drop_duplicates(inplace= True)

/var/folders/x0/rpxk2qtn1plg19j8v45ncgb80000gn/T/ipykernel_55437/1118501897.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sampled_dat.drop_duplicates(inplace= True)

In [35]:
sampled_dat[list(sampled_dat.columns[:-1])]

         VendorID tpep_pickup_datetime  ... congestion_surcharge  Airport_fee
610229          1  2023-10-06 18:43:32  ...                  2.5          0.0
112456          1  2023-05-02 08:00:07  ...                  2.5          0.0
932151          2  2023-08-11 06:55:47  ...                  2.5          0.0
291758          2  2023-03-03 16:20:19  ...                  2.5          0.0
2251524         1  2023-09-26 21:30:21  ...                  2.5          0.0
...           ...                  ...  ...                  ...          ...
2634707         2  2023-02-26 19:33:45  ...                  2.5          0.0
378933          1  2023-02-04 16:43:32  ...                  2.5          0.0
2972023         1  2023-04-28 19:57:59  ...                  2.5          0.0
2700047         2  2023-05-24 18:42:17  ...                  2.5          0.0
1201675         2  2023-06-11 20:00:02  ...                  2.5          0.0

[9930175 rows x 19 columns]